@font-face {
    font-family: Montserrat-Regular;
    src: url('./fonts/montserrat/Montserrat-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('./fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-ExtraBold;
    src: url('./fonts/montserrat/Montserrat-ExtraBold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('./fonts/montserrat/Montserrat-Medium.ttf'); 
  }

.main{
    
    height: 100%;
    
}
body{
    background-color:whitesmoke;
}
body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
}
#html5shim-2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 80%;
}
#foo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
#_canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.cam img{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding-bottom: 30px;
    
}
.cam{
    border-radius: 4px;
}
.cam h4 {
    text-align: center;
    margin-top: 150px;
}
.logs{
    
    width: 85%;
    height: 100%;
    margin: auto;
    
    border-radius: 3px;
    
    
}
.log{
    height: 100%;
    text-align: center;
    font-size: large;
    

}


button{
   
    border: none;
    background-color: rgb(184, 183, 183);
    border-radius: 4px;
    
}
.left button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;  
    height: 100%;
    width: 70%; 
}
.middle button{
    height: 50px;
    margin-bottom: 10px;
    
}
.right button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;  
    height: 100%;
    width: 70%; 
}
.w-95{
    width: 92%;
    margin-bottom: 10px;
}

.option_bar{


    width: 55%;
    height: 300px;

}
.option_bar>:first-child{

    margin-top: 60px;
}
.option_button{

    font-size: 16px;
    width: 98%;
    height: 40px;
    margin:auto;
    margin-bottom: 10px;
    margin-top: 5px;

}
.status_{

    margin-left: 7px;
    padding-top: 5px;

}
table{

    margin-left: 20px;
    width: 100%;
    margin: auto;
}
th{

    border-bottom: 2px solid gray ;
}
