<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User List</title>
</head>
<body>
    <style>
        table{

            width:60%;
            margin: auto;
            font-size:22px;
        }
        th{

            border-bottom: 2px solid gray ;
            
        }
       
        h1{
            text-align:center;

        }
        td{

            text-align:center;
            font-size: 18px;
        }
    </style>
    <h1> All Logs</h1>
<a href="/">< Home</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data  %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.date_created}}</td>
            <td>
            <form action="{{ url_for('del_logs',fnd=d.id) }}" method="POST">
                <input type="submit" value="Delete" />
              </form>
            </td>
        </tr>

        {%endfor%}
    </tbody>
</table>
</body>
</html>
